body {
    margin: 0;
    padding: 40px;
    text-align: center;
    background-color: rgb(139, 131, 255);
}

.heading{
    display: flex;
    justify-content: center;
}

h1 {
    border: none;
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    width: fit-content;
    color: white;
    font-family: Helvetica;
    font-size: 40px;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    width: 600px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 10px;
    word-spacing: 1px;
    font-family: Halvetica;
    font-size: large
}

input:focus {
    outline: blue;
}

button {
    color: white;
    font-size: medium;
    margin-top: 15px;
    background-color: hotpink;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 105px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 68, 162);
}

#list {
    list-style-type: none;
    color: white;
    text-align: center;
    padding-left: 40px;
}

li {
    margin-left: -30px;
    color: rgb(139, 131, 255);
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: auto;
    height: 35px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}


.mark_as_done,
.delete {
    margin-top: 0;
    margin-left: 20px;
    width: fit-content;
    border-radius: 11px;
    height: 25px;
    border: 1px solid hotpink;
    border-radius: 13px;
    margin-right: 0;

    :hover {
        color: chartreuse;
    }
}

.mark_as_done {
    position: absolute;
    right: 90px;
}

.delete {
    position: absolute;
    right: 50px;
}